<% provide(:title, "Home") %>
<div class="center jumbotron">
	<h1>Welcome to Budgeter</h1>
	<p>This will be the home page for Budgeter</p>
	 <%= link_to "Sign up now!", register_path , class: "btn btn-lg btn-primary" %>
</div>
